body {
  /* display: flex; */
  overflow: hidden;
  text-align: center;
  font-family: "Lato", sans-serif;
}

nav {
  display: inline;
  text-align: left;
}

ul {
  list-style: none;
}

h1 {
  margin-top: -35px;
}

a {
  text-decoration: none;
  color: #e34c26;
}

#stripes {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    90deg,
    #ebebeb 25%,
    transparent 25%,
    transparent 50%,
    #ebebeb 50%,
    #ebebeb 75%,
    transparent 75%,
    #fff
  );
  background-size: 70px;
  z-index: -1;
  position: absolute;
  top: 0;
}

.center {
  display: inline-block;
  text-align: left;
}

section {
  padding-bottom: 20px;
}
#line {
  text-decoration: underline;
  text-decoration-color: #aeaeae;
}
#line2 {
  text-decoration: underline;
  text-decoration-color: #e34c26;
}
#brackets {
  color: #e34c26;
  font-weight: bold;
}

img {
  border-radius: 50%;
  animation: slideIn 1.5s ease-in, wiggle 4s 2.5s linear infinite;
}

@keyframes slideIn {
  0%{
    transform: skewX(53deg) translateX(-1400px);
    opacity: 100;
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skewX(0deg) translateX(30px);
  }
  70%{
    transform: skew(-20deg);
  }
  80%{
    transform: skew(0deg) translate(0);
  }
  90%{
    transform: skew(-5deg);
  }
  100%{
    transform: skew(0deg);
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
